body {
    padding: 10px;
    font-family: 'EB Garamond', serif;
    background-color: rgb(255, 255, 255);
}

.resume-container {
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    width: 720px;
    /* padding: 1em; */
}

h1 {
    color: rgb(22, 96, 139);
}

.resume-container .header {
    background-color: white;
    text-align: center;
    /* padding: 1em; */
    
}

.personal-info{
    background-color: rgb(233, 233, 233);
    flex-direction: row;
    text-align: center;
    padding-top: 7px;
    padding-bottom: 7px;
    
}

.personal-info a{
    color: black;
    text-decoration: none;
    font-size: 14px;
    padding-left: 27px;
    padding-right: 27px;
}

.resume-container .education{
    display: flex;

    background-color: white;
    color: black;
    padding: 1em;
}

.resume-container .education .c1 {
    flex: 3;
}
.resume-container .education .c2 {
    flex: 1;
}

.headshot {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    width: 200px;
    height: auto;
    border-radius: 50%;
}

.resume-container .courses {
    background-color: white;
    color: black;
    padding: 1em;
}