main {
    /* background-color: orange; */
    height: 400px;
    text-align: center;
    padding-top: 80px;
    padding-left: 240px;
    padding-right: 240px;
}

.container-1{
    display: flex;
}

.container-1 div {
    border: 1px #ccc solid;
    padding: 10px;
}

.box-1 {
    flex: 4;
}

.box-2 {                              
    flex: 1;
}
.box-3 {
    flex: 1;
}